@tailwind base;
@tailwind components;
@tailwind utilities;

/* ---- Font Declaration ----
Use font-sans class for DM Sans font
Use font-mono class for PT Mono font
*/

:root {
  font-family: DM Sans, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body, #root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

/* Custom Glassmorphism Classes*/
/* .glass-background {
  background: linear-gradient(
      to bottom right,
      rgba(255, 255, 255, 0.1),
      rgba(255, 255, 255, 0.05)
    ),
    #f1f9ff2a;
  border-radius: 0.5rem;
  border: 1px solid rgba(255, 255, 255, 0.25);
  box-shadow:
    inset 0 1px 2px rgba(255, 255, 255, 0.2),
    2px 4px 10px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(10px) brightness(100%);
  -webkit-backdrop-filter: blur(10px) brightness(100%);
} */


.glass-background {
  background-color: #f1f9ff2a;
  box-shadow: inset 2px 1px 8px #ffffff50, 2px 4px 10px #00000030;
  border: 1px solid rgba(255, 255, 255, 0.4);   
   -webkit-backdrop-filter: blur(10px) brightness(100%);
  backdrop-filter: blur(10px) brightness(100%);
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  button {
    background-color: #f9f9f9;
  }
}
